# EBAY SANDBOX
EBAY_APP_ID_SANDBOX=L***a-D***e-SBX-5***2-9***1
EBAY_DEV_ID_SANDBOX=***b-***8-4***d-***1-2***1
EBAY_CERT_ID_SANDBOX=SBX-***2-4***d-***1-***d-***1
EBAY_AUTH_TOKEN_SANDBOX="v***1#i***1#f***0#p***3#r***1#I***3#t***Ul4xMF8yOjg4Nzg3QUJBN****1NUY2OENGNzM0XzBfMSNFXjI2MA=="

# EBAY PROD
EBAY_APP_ID_PROD=L***a-D***e-SBX-5***2-9***1
EBAY_DEV_ID_PROD=***b-***8-4***d-***1-2***1
EBAY_CERT_ID_PROD=PRD-***2-4***d-***1-***d-***1
EBAY_AUTH_TOKEN_PROD="v***1#i***1#f***0#p***3#r***1#I***3#t***Ul4xMF8yOjg4Nzg3QUJBN****1NUY2OENGNzM0XzBfMSNFXjI2MA=="


# IMGUR
IMGUR_CLIENT_ID=1b1b1b1b1b1b1b1
IMGUR_CLIENT_SECRET=1b**********************
